csharp/Adelaide/Config.cs
csharp/.vs/
csharp/Adelaide/bin/
csharp/Adelaide/obj/
nodejs/tts.js
nodejs/TTSOutput.wav

Secret.*
csharp/VirtualAssistant/VirtualAssistant/VA/Secret.cs
csharp/VirtualAssistant/VirtualAssistant/bin/
csharp/VirtualAssistant/VirtualAssistant/obj/
../.vs/
